<% include header %>

<div class="row">
  <div class="col-sm-1"></div>
 <div class="col-sm-8 about" >I am from Nalgonda, Telangana, INDIA.
     I graduated in the year 2016 from JNTU Hyderabad.I have an experience of 2 years as software engineer from Cognizant.
     Wanted to learn latest technologies and build up team management skills.</div>
 <p class="about-content">I enjoy being challenged and engaging with projects that require me to work outside my comfort and knowledge set,
    as continuing to learn new languages and development techniques are important to me and the success of your organization.</p>
 <!-- <div class="col-sm-2"><img class = "profile img-circle" src="6RsbcrhI.jpg" alt="profile picture"></div> -->
 <div class="col-sm-1"></div>
 </div>
 <div class="about-image"><img class = "profile img-circle" src="/6RsbcrhI.jpg" alt="profile picture"></div>

 <div class="container">
 <p id="tag">NWMSU 2018 Convocation</p>
 <div class="embed-responsive embed-responsive-16by9">
  <iframe src="https://www.youtube.com/embed/lHvtZSsEYsE" ></iframe>
 </div>
 </div>

<div class="container">

</div>


<% include footer %>
